{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/css/style.min.2.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.2.css' rel='stylesheet'><!--Link BOXICONS-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/><!--Link Swiper's CSS-->
</head>
<body>
    <nav>
        <div class="container">
            <a href="#" class="nav__logo"><h3>Help.Me</h3></a>
            
            <ul id="nav__items">
                {% if not request.user.is_staff %}
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#services">Serviços</a></li>
                <li><a href="#doctor">Médicos</a></li>
                <li><a href="#testimonials">Depoimentos</a></li>
                
                <li><a href="{% url 'login' %}"  class="btn" >Login</a></li>
                {% endif %}
                {% if request.user.is_staff %}
                <li><a href="{% url 'home'%}">Consultas</a></li>
                <li><a href="{% url 'paciente'%}">Pacientes</a></li>
                <li><a href="{% url 'doctor'%}">Médicos</a></li>
                <li><a href="{% url 'logout'%}" class="btn">Sair</a></li>
                {% endif %}
            </ul>

                <button id="open__nav-btn"><i class='bx bx-menu'></i></button>
                <button id="close__nav-btn"><i class='bx bx-x' ></i></button>
            
        </div>
    </nav>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script><!-- Swiper JS -->
    <script src="static/js/main.js"></script><!--javascript botao menu-->
</body


{% endblock content %}
